nav {
    box-shadow: 0 0 20px -5px black;
    font-weight: bold;
    text-shadow: 2px 2px 10px black;
}

.cart {
    margin: 0 5px;
    font-size: 1.1rem;
}

nav form a {
    padding-left: 0 !important;
}

nav.cart {
    display: flex;
    justify-content: flex-end !important;
    align-items: flex-end !important;
}

nav.bg-pink {
    background-color: rgba(255, 192, 203, 0.8) !important;
}

nav a {
    color: white !important;
}